In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("D:/Per_training/GenAIProjects/Book1.csv",names=["Name", "Value"],skiprows=[0])
df

                       Name  Value
0        UT @ Shoulder (mm)    279
1    Rubber @ Shoulder (mm)    283
2   Rubber @ off shoulder-1    284
3   Rubber @ off shoulder-2    285
4   Rubber @ off shoulder-3    175
5   Rubber @ off shoulder-4    176
6   Rubber @ off shoulder-5    177
7               Rubber @ SW    183
8              Rubber @ RCL    182
9        Total @ Centre, mm    188
10     Total @ Shoulder, mm    189
11     Total @ Sidewall, mm    190

In [6]:
df.describe()

            Value
count   12.000000
mean   215.916667
std     49.615720
min    175.000000
25%    180.750000
50%    188.500000
75%    280.000000
max    285.000000